<style>
    .content {
        margin: auto;
        width: 50%;
        border: 3px solid blue;
        padding: 10px;
    }

    .title {
        text-align: center;
    }

    div a {
        padding: 10px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<content>
    <div>
        <div class="content">

            <h3 class="title">GeoPoints Api is Working</h3>
            
        </div>
    </div>
</content>